

*{
    margin: 0; 
    padding: 0;
}

body{
    overflow-x: hidden;
}

#vichu{
    font-family: 'Dancing Script', cursive;

}

#navBar{
    padding: 1%;
    background-color: black;
}

h3,li{
    color:white;
}

nav{
  float: right;
  margin-top: -2.2rem;
  width: 10rem;
}


ul li{
    list-style: none;
    display: inline;
    margin: 0 5%;
}

li{
    list-style: none; 
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
  font-weight: bold; 
  cursor: pointer;
  border: none;
  list-style: none; 
  color: white;
  text-decoration: none;
}

#hamburger{
    display: block;
    text-align: end;
    margin-right: 0.8rem;
    margin-top:-0.4rem;
    color:white;
}

#mobileMenu{
    color:white;
    display: block;
    margin-top:1rem;
    background-color: white;
    display: none;

}

#mobileMenu h5{
    border: 1px solid black;
    color: rgb(32, 22, 22);
    margin: 0; 
    padding: 0.2rem;
    text-align: center;
}

.code{
    animation-name: driver; 
    animation-duration: 0.8s;
  }

@keyframes driver{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Class of CEO Begin :  */

.Ceo{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "box_1  box_3";
    margin-top: 5rem;
    animation-name: driver; 
    animation-duration: 1.5s;

}
   
#box_1{

    grid-area: box_1;
    display: flex;
    justify-content: center;
}

#box_1 img{
    width: 14rem;
    border-radius: 2rem;
    border: 2px solid black;
}

#box_2{

    grid-area: box_2;
}

#box_3{

    padding: 2rem;
    grid-area: box_3;
}

#hthere{
    font-family: 'Barriecito', cursive;

}


/* CLass of Ceo End  */

/* 
Begin of COmpany description:  */


 .CompanyDescription{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-areas: "jim jim . ."
                          ". . ezLocal ezLocal"
                          ". location location ."
                          ". localDesc localDesc ."

     ;
     margin-top: 10rem;

 }

 #Ji{
    
    grid-area: jim;
    padding: 2rem;
    color:black;

 }

#ezLocal{
  grid-area: ezLocal;
  padding: 2rem;
  color:black;
}

#location{
    grid-area: location;
    padding: 2rem;
}

#location img{
    width: 100%;
}

#GoogleMap{
    text-align: center;
}

#locationDescription{
    grid-area: localDesc;
    padding: 2rem;
    color:black;
    font-family: 'Sacramento', cursive;

}

footer{
    background-color:black;
    padding: 1.5rem;
}

footer h6{
    text-align: center;
    color:white;
}

/* 
Ending of Company Description:  */

a{
    text-decoration: none;
    color: black;
}

.links{
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 

      nav ul{
        display: none;
      }

      #hamburger{
        display: block;
    }

    .Ceo{
        display: grid; 
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "box_1"  
                              "box_3";

        margin-top: 5rem;
    }

    .CompanyDescription{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "jim"
                             "ezLocal"
                             "location"
                             "localDesc"
        ;
        margin-top: 10rem;
    }

    #box_1 img{
        width: 7rem;
        border-radius: 2rem;
        border: 2px solid black;
    }

  

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  
      nav ul{
        display: none;
      }

      #hamburger{
        display: block;
    }

    .Ceo{
        display: grid; 
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
               " box_1"  
                "box_3"; 
              

        margin-top: 5rem;
    }

    .CompanyDescription{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "jim"
                             "ezLocal"
                             "location"
                             "localDesc"
        ;
        margin-top: 10rem;
    }

    #box_1 img{
        width: 9rem;
        border-radius: 2rem;
        border: 2px solid black;
    }

 
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    nav ul{
        display: block;
    }
 
     #hamburger{
        display: none;
    }

    .Ceo{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "box_1  box_3";

        margin-top: 5rem;
    }

    /* .CompanyDescription{
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "jim ."
                             ". ezLocal"
        ;
        margin-top: 10rem;
    } */

    .CompanyDescription{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "jim jim . ."
                             ". . ezLocal ezLocal"
                             ". location location ."
                             ". localDesc localDesc ."
   
        ;
        margin-top: 10rem;
    }

    #box_1 img{
        width: 10rem;
        border-radius: 2rem;
        border: 2px solid black;
    }

  
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

 
      nav ul {
        display: block;
      }

      #hamburger{
        display: none;
    }

    .Ceo{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "box_1  box_3";

        margin-top: 5rem;
    }

    /* .CompanyDescription{
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "jim ."
                             ". ezLocal"
        ;
        margin-top: 10rem;
    } */

    .CompanyDescription{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "jim jim . ."
                             ". . ezLocal ezLocal"
                             ". location location ."
                             ". localDesc localDesc ."
   
        ;
        margin-top: 10rem;
    }

    #box_1 img{
        width: 12rem;
        border-radius: 2rem;
        border: 2px solid black;
    }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  
      nav ul {
        display: block;
      }

      #hamburger{
        display: none;
    }

    .Ceo{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "box_1  box_3";

        margin-top: 5rem;
    }


    /* .CompanyDescription{
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "jim ."
                             ". ezLocal"
        ;
        margin-top: 10rem;
    } */

    .CompanyDescription{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "jim jim . ."
                             ". . ezLocal ezLocal"
                             ". location location ."
                             ". localDesc localDesc ."
   
        ;
        margin-top: 10rem;
    }


    #box_1 img{
        width: 14rem;
        border-radius: 2rem;
        border: 2px solid black;
    }

}